{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_id %}form{% endblock %}
{% block form_action %}{{ request.get_full_path }}{% endblock %}

{% block modal-header %}{% trans "Customization Script" %}{% endblock %}

{% block modal-body %}
<style>
div.modal.hide.in { width:1000px;left: 40%;}
div.static_page { width:1000px;}
</style>
<div class="left">
    <h3>{% trans "Description" %}:</h3>
    {% include "project/instances/_launch_customize_help.html" %}

    <h3>{% trans "Var Args" %}:</h3>
<pre>{% autoescape on %}{{ var_args }}{% endautoescape %}</pre>
</div>

<div class="right">
    <fieldset>
        {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Save" %}" />
  <a href="{% url 'horizon:custom:config:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
